In [15]:
##For MySQL
import mysql.connector
import pandas as pd
import sqlite3
import os

In [16]:
##This is the same as the docker compose stuff i think, it'll be good for spinning up the db really quickly and working on it through git hub(see below)
cwDB = mysql.connector.connect( 
    host="localhost",
  user="root",
  password="secret",
  database="crash_weather_db"
)

InterfaceError: 2003: Can't connect to MySQL server on 'localhost:3306' (10061 No connection could be made because the target machine actively refused it)

In [17]:
##This is the variable you use to execute code on the database(mycursor)
mycursor = cwDB.cursor()

NameError: name 'cwDB' is not defined

In [ ]:
##DROPS OLD DBs and CREATES NEW DB
mycursor.execute("DROP DATABASE crash_weather_db IF EXISTS")
mycursor.execute("CREATE DATABASE crash_weather_db")

In [11]:
## CONVERTS CRASH DATA HISTORY TO VARIABLE FROM CSV
data = pd.read_csv (r'C:\Users\skiok\CWGit\pgh_crash_prediction\crash_clean.csv')
print (data)

         CRASH_CRN      lat     long                street  severity  \
0       2004000001  40.3234 -79.9404          LEWIS RUN RD         0
1       2004000010  40.3182 -79.9076        COAL VALLEY RD         1
2       2004000016  40.4886 -80.3371  CLINTON FRANKFORT RD         1
3       2004000047  40.4188 -80.0494             POPLAR ST         1
4       2004000071  40.4612 -80.0087        PERRYSVILLE AV         1
...            ...      ...      ...                   ...       ...
182726  2021017633  40.5115 -80.0038           MCKNIGHT RD         1
182727  2021018779  40.5983 -79.7692   ALLEGHENY VALLEY EX         1
182728  2021019758  40.4377 -79.9759             SENECA ST         1
182729  2021021042  40.4419 -80.0571               FORD ST         1
182730  2021021504  40.4263 -79.8937       PENN LINCOLN PY         1

        illumination  weather  road_conditon  day  hour     date
0                  2      1.0            0.0    5   2.0   2004-1
1                  1      1.0            6.0    5  10.0   2004-1
2                  2      1.0            0.0    5  18.0   2004-1
3                  1      1.0            0.0    6  14.0   2004-1
4                  3      2.0            1.0    1  19.0   2004-1
...              ...      ...            ...  ...   ...      ...
182726             3      3.0            1.0    7  18.0  2020-10
182727             1      3.0            2.0    6   6.0  2020-12
182728             1      3.0            1.0    4  12.0  2020-12
182729             4      3.0            1.0    3  18.0  2020-11
182730             5      3.0            9.0    2   6.0  2020-12

[182731 rows x 11 columns]

In [12]:
##CONVERTS CSV TO Dataframe
df = pd.DataFrame(data, columns=['CRASH_CRN','lat','long','street','severity','illumination','weather','road_conditon','day','hour','date' ])

In [19]:
##PRINTS df
df

In [20]:
##Uses sqlite3 to connect to db, this is so we can use .to_sql to turn the dataframe into a table
conn = sqlite3.connect('crash_weather_db')
## DROPS  old table and creates new crash_data table 
mycursor.execute('DROP TABLE IF EXISTS crash_data ( number)')
mycursor.execute('CREATE TABLE IF NOT EXISTS crash_data ( number)')
##sends dataframe to sql
df.to_sql('crash_data', conn, if_exists='replace', index = False)
##Possibly need for create table statements
mycursor.commit
mycursor.execute('''  
SELECT * FROM crash_data
          ''')

for row in c.fetchall():
    print (row)

NameError: name 'mycursor' is not defined

In [ ]:
##Heres an example of this creating a table, change this to whatever we need
c.execute("CREATE TABLE crash_data (name VARCHAR(255), address VARCHAR(255))")

In [1]:
##show cached queries
mycursor.execute("SHOW VARIABLES LIKE 'have_query_cache';")
mycursor.commit

NameError: name 'mycursor' is not defined

In [ ]:
##Cached Query Metrics
mycursor.execute("SHOW STATUS LIKE 'Qcache%';")

In [ ]:
##Shows all tables
mycursor.execute("SHOW TABLES")
for x in mycursor:
  print(x)